body{
    background-color: #e5e5e5;
}

#map {
    height: 350px;
    width: 350px;
    margin-top: 10px;
    margin-left: 10px;
}

.sp{
    padding-top: 20px; 
}

.navbar-style {
    background-color: #787878;
}

.row {
    padding: 10px !important;
}

.inputs {
    padding: 10px !important;
}

ul {
    list-style-type: none;
    padding-left: 3px;
    padding-top: 15px;
  }

.margin-button {
    margin-top: 20px;
}