body{
    background-color: #e5e5e5;
}

#map {
    height: 550px;
    width: 100%;
    margin-top: 10px
}

.sp{
    padding-top: 20px; 
}

.navbar-style {
    background-color: #787878;
}

.row {
    padding: 10px !important;
}